@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) {
  #grid-floats {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2em;
  }
  img {
    width: 100%;
  }
  .grid-item:nth-child(1) {
    grid-column: span 2;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  #grid-floats {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 2em;
  }
  img {
    width: 100%;
  }
  .grid-item:nth-child(1) {
    grid-column: span 3;
  }
  .grid-item:nth-child(2) {
    grid-column: span 3;
  }
  .grid-item {
    grid-column: span 2;
  }
}

@media only screen and (min-device-width: 1280px) {
  #grid-floats {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2em;
  }
  img {
    width: 100%;
  }
  .grid-item:nth-child(1) {
    grid-column: span 2;
  }
  .grid-item:nth-child(2) {
    grid-column: span 2;
  }
}
