* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Cardo", serif;
  background-color: #0b0c10;
  color: #45a29e;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: #66fcf1;
}

ul {
  padding: 0 2em 0 2em;
}

li {
  list-style-type: none;
  border: solid 0.25em #45a29e;
  padding: 2em;
  overflow-wrap: normal;
}

li:hover {
  background-color: #1f2833;
}

h1 {
  text-align: center;
}

h2 {
  margin: 1em;
}
img {
  width: 100%;
  height: auto;
  aspect-ratio: attr(width) / attr(height);
}
/* CSS Flexbox */
/* mobile */
/* @media only screen and (min-device-width: 668px) and (max-device-width: 1024px) {
  #grid-flex {
    display: flex;
  }
  .grid-item:nth-child(1) {
    flex: 2;
  }
  .grid-item {
    flex: 1;
  }
} */
/* tablet */
@media only screen and (min-device-width: 668px) and (max-device-width: 1024px) {
  #grid-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
  }
  #grid-flex > .grid-item {
    width: 50%;
  }
}

/* CSS Grid */
/* mobile phone */
@media only screen and (max-device-width: 667px) {
  #grid-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    grid-gap: 2em;
  }
  .grid-item:nth-child(1) {
    grid-column: span 2;
  }
}

/* tablet */
@media only screen and (min-device-width: 668px) and (max-device-width: 1024px) {
  #grid-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 2em;
  }
  .grid-item:nth-child(1) {
    grid-column: span 3;
  }
  .grid-item:nth-child(2) {
    grid-column: span 3;
  }
  .grid-item {
    grid-column: span 2;
  }
}

/* desktop */
@media screen and (min-device-width: 1025px) and (max-device-width: 1600px) {
  #grid-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2em;
  }
  .grid-item:nth-child(1) {
    grid-column: span 2;
  }
}
