* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Cardo", serif;
  background-color: #0b0c10;
  color: #45a29e;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: #66fcf1;
}

li {
  list-style-type: none;
  border: solid 0.25em #45a29e;
  padding: 2em;
  overflow-wrap: normal;
}

li:hover {
  background-color: #1f2833;
}

h1 {
  text-align: center;
}

h2 {
  margin: 1em;
}

img {
  width: 100%;
}

/* CSS Float */
/* mobile */
@media only screen and (max-device-width: 667px) {
  #grid-floats {
    display: inline-block;
  }
  #grid-floats > .grid-item:nth-child(1) {
    width: 100%;
  }
  #grid-floats > .grid-item:nth-child(n + 2):nth-child(even) {
    float: left;
    width: 50%;
    height: 650px;
  }
  #grid-floats > .grid-item:nth-child(n + 3):nth-child(odd) {
    float: right;
    width: 50%;
    height: 650px;
  }
}
/* tablet */
@media only screen and (min-device-width: 668px) and (max-device-width: 1024px) {
  #grid-floats {
    display: inline-block;
  }
  #grid-floats > .grid-item {
    float: left;
  }
  #grid-floats > .grid-item:nth-child(1) {
    width: 50%;
  }
  #grid-floats > .grid-item:nth-child(2) {
    float: right;
    width: 50%;
  }
  #grid-floats > .grid-item:nth-child(n + 3) {
    width: 33.33%;
    height: 550px;
  }
}
/* desktop */
@media screen and (min-device-width: 1025px) and (max-device-width: 1600px) {
  #grid-floats {
    display: inline-block;
  }
  #grid-floats > .grid-item {
    float: left;
  }
  #grid-floats > .grid-item:nth-child(1) {
    width: 50%;
    height: 550px;
  }
  #grid-floats > .grid-item:nth-child(n + 2) {
    width: 25%;
    height: 550px;
  }
}

/* CSS Flexbox */
/* mobile */
@media only screen and (max-device-width: 667px) {
  #grid-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  /* #grid-flex > .grid-item:nth-child(1) {
    flex: 100%;
  }
  #grid-flex > .grid-item {
    flex: 50%;
  } */
}
/* tablet */
@media only screen and (min-device-width: 668px) and (max-device-width: 1024px) {
  #grid-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    margin: 0 0 0 2em;
  }
  /* #grid-flex > .grid-item {
    flex: 0 1 calc(33.33% - 2em);
  } */
  /* #grid-flex > .grid-item:nth-child(1) {
    flex: 0 1 calc(50% - 2em);
  }
  #grid-flex > .grid-item:nth-child(2) {
    flex: 0 1 calc(50% - 2em); */
}
/* desktop */
@media screen and (min-device-width: 1025px) and (max-device-width: 1600px) {
  #grid-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    margin: 0 0 0 2em;
  }
  #grid-flex > .grid-item {
    flex: 0 1 calc(25% - 2em);
  }
  #grid-flex > .grid-item:nth-child(1) {
    flex: 0 1 calc(50% - 2em);
  }
}

/* CSS Grid */
/* mobile phone */
@media only screen and (max-device-width: 667px) {
  #grid-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    grid-gap: 2em;
  }
  .grid-item:nth-child(1) {
    grid-column: span 2;
  }
}

/* tablet */
@media only screen and (min-device-width: 668px) and (max-device-width: 1024px) {
  #grid-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 2em;
  }
  .grid-item:nth-child(1) {
    grid-column: span 3;
  }
  .grid-item:nth-child(2) {
    grid-column: span 3;
  }
  .grid-item {
    grid-column: span 2;
  }
}

/* desktop */
@media screen and (min-device-width: 1025px) and (max-device-width: 1600px) {
  #grid-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2em;
    margin: 0 2em 0 2em;
  }
  .grid-item:nth-child(1) {
    grid-column: span 2;
  }
}
