* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*:focus {
  outline: none;
}
body {
  color: #5a799f;
}
b {
  color: #ce5756;
}
a {
  color: #5a799f;
  font-weight: 600;
}
img {
  margin-top: 1.5rem;
  width: 50vw;
  border: 1px solid black;
}
.envelope {
  font-family: "Sue Ellen Francisco", cursive;
  background-color: #fff;
  border: 10px solid;
  border-image: repeating-linear-gradient(
    -55deg,
    #ce5756 0px,
    #ce5756 40px,
    #fff 40px,
    #fff 80px,
    #5a799f 80px,
    #5a799f 120px,
    #fff 120px,
    #fff 160px
  );
  border-image-slice: 10;
  display: grid;
  grid-template-columns: repeat(3, minmax(max-content, 1fr));
  grid-template-rows: repeat(3, minmax(max-content, 1fr));
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
.sender {
  /* border: dashed red 2px; */
  grid-column: 1/2;
  grid-row: 1;
}
.sender p {
  font-size: 2.5vw;
  padding-left: 2rem;
}
.sender p:nth-child(n + 2) {
  padding-left: 4rem;
}
.receiver {
  /* border: dashed blue 2px; */
  grid-column: 2/4;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  font-size: 3vw;
}
.receiver p {
  padding-left: 2rem;
}
.receiver p:nth-child(n + 2) {
  padding-left: 4rem;
}
.receiver a {
  align-self: flex-end;
}
.receiver .input-text {
  color: #5a799f;
  font-size: 3vw;
  font-family: "Sue Ellen Francisco", cursive;
  margin: 1rem;
  padding-left: 4rem;
  border: 1px dashed #5a799f;
  border-radius: 10px;
  background-color: #fff;
  font-weight: 400;
}
.stamp-container {
  grid-column: 3/4;
}
.airmail-container {
  grid-column: 1/2;
  grid-row: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.airmail {
  font-family: "Space Mono", monospace;
  font-size: 1.5vw;
  background-color: #5a799f;
  color: #fff;
  text-align: center;
  border: solid #fff 2px;
  width: 40%;
  transform: rotate(-25deg);
  padding: 0.5rem 1rem;
}
.open-letter {
  grid-column: 3/4;
  grid-row: 3;
  margin: 2rem;
  justify-self: end;
  align-self: end;
  font-size: 2vw;
}
.open-letter a {
  font-family: "Space Mono", monospace;
  font-size: 1.5vw;
  text-decoration: none;
  background: #ce5756;
  padding: 0.5rem 1rem;
  color: #fff;
}
.open-letter a:hover {
  cursor: pointer;
}
.letter {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 0.5rem;
}
.letter > article {
  font-family: "Open Sans", sans-serif;
  padding: 2rem 4rem;
  font-size: 1rem;
  line-height: 1.5;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  color: #5a799f;
}
.letter h1 {
  font-size: 2rem;
  color: #5a799f;
}
.letter h2 {
  font-size: 1.8rem;
}
.letter p {
  margin-top: 2rem;
}
.intro {
  grid-column: 1/2;
  grid-row: 1;
}
.projects {
  grid-column: 2/4;
  grid-row: 1;
  border-left: 5px dashed #5a799f;
  overflow-y: scroll;
}
.projects > article {
  margin-top: 3rem;
}
