* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.envelope {
  background-color: pink;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 100vw;
  height: 100vh;
}
.sender {
  background-color: red;
  grid-column: 1/3;
  grid-row: 1;
}
.receiver {
  background-color: blue;
  grid-column: 3/6;
  grid-row: 2;
}
.stamp {
  background-color: yellow;
  grid-column: 5/7;
}
.airmail {
  background-color: green;
  grid-column: 1/3;
  grid-row: 2;
}
